{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h2>Weapons detection tool</h2>
    {% if show %}
    <a  href="/static/app/output_video.mp4" download> Download Document </a>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="post-form" autocomplete="off">{% csrf_token %}
        {{ form.as_p }}    <!--render form as paragrah. Will wrap the form in <p> tags-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for msg in messages %}
    <p style = color:red >{{msg}}</p>
    {% endfor %}
{% endblock %}